<% layout("/listings/layouts/boilerplate") %> 
<body> 
  <h3>Edit your Listing</h3>
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label><br>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
    </div>
    
    <div class="mb-3">
      <label for="description" class="form-label">Description</label><br>
      <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
    </div>
    <div class="old-image">
      Original Image <br>
      <img style="height:160px; width: 240px;" src="<%=originalImageurl%>"/>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload New Image</label><br>
      <input name="listing[image]"  type="file" class="form-control" />
    </div>
    
    <div class="mb-3">
      <label for="price" class="form-label">Price</label><br>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" />
    </div>
    
    <div class="mb-3">
      <label for="country" class="form-label">Country</label><br>
      <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" />
    </div>
    
    <div class="mb-3">
      <label for="location" class="form-label">Location</label><br>
      <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" />
    </div>
    
    <button class="btn btn-dark">Edit</button>
  </form>
</body>

<style>
  .old-image{
    height: 200px;
    width: 200px;
  }
</style>